[submodule "lib/mlx-c"]
	path = lib/mlx-c
	url = https://github.com/ml-explore/mlx-c.git
[submodule "lib/mlx"]
	path = lib/mlx
	url = https://github.com/ml-explore/mlx.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "external/go"]
	path = external/go
	url = https://github.com/dappcore/go.git
	branch = dev
[submodule "external/go-inference"]
	path = external/go-inference
	url = https://github.com/dappcore/go-inference.git
	branch = dev
[submodule "external/go-io"]
	path = external/go-io
	url = https://github.com/dappcore/go-io.git
	branch = dev
